:root {
    --font-family-body: system-ui, sans-serif;
    --font-family-quote: serif;
    --color-text: #222;
    --color-background: #fff;
    --color-code: #222;
    --color-code-background: #efefef;
    --color-link: #2463bb;
    --color-divider: #888;

    --width-container: 36em;

    --space-0: 0;
    --space-1: 8px;
    --space-2: 16px;
    --space-3: 32px;
    --space-4: 64px;

    --font-size-0: 16px;
    --font-size-1: 18px;
    --font-size-2: 20px;
    --font-size-3: 24px;
    --font-size-4: 32px;

    --font-weight-heading: 600;
    --font-weight-paragraph: 400;
    --font-weight-link: 600;

    --line-height-body: 1.4;
    --line-height-heading: 1.1;
}

body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-1);
    line-height: var(--line-height-body);
    background-color: var(--color-background);
    color: var(--color-text);
    max-width: var(--width-container);
    margin: var(--space-3) auto;
    padding: var(--space-1);
}

a,
a:visited {
    color: var(--color-link);
    border-bottom: thin solid var(--color-link);
    text-decoration: none;
    font-weight: var(--font-weight-link);
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--space-3);
}

nav > a,
nav > a:visited {
    margin-right: var(--space-2);
    color: var(--color-text);
    border-bottom: 0;

    &.current {
        border-bottom: thin solid var(--color-text);
    }

    &:hover, &:focus {
        border-bottom: thin solid var(--color-text);
    }
}

header > h1 {
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5 {
    margin: var(--space-4) 0 0;
}

pre {
    background-color: var(--color-code-background);
    padding: var(--space-3);
    overflow: auto;
}

code {
    background-color: var(--color-code-background);
    color: var(--color-code);
    font-size: var(--font-size-0);
}

blockquote {
    font-family: var(--font-family-quote);
}

.cc {
    margin: var(--space-4) 0;
}

hr {
    margin: var(--space-4) 0;
    border: thin solid var(--color-divider);
}

footer {
    margin-top: var(--space-4);
}

img {
    max-width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;

    img {
        width: 33.33%
    }
}

/* mobile version */
@media only screen and (max-width: 768px) {
    html {
        font-size: initial;
    }
    .gallery img {
        width: 100%;
    }
}

/* touch screen version */
@media (hover: none) {
    a.anchor {
        visibility: unset;
        margin-left: 0;
    }
}

/* printable version */
@media print {
    body {
        background: initial;
        margin: initial;
        max-width: initial;
        line-height: initial;
        font-size: initial;
    }
    header > nav {
        display: none;
    }
}
