:root {
    --text-color: #222;
    --highlight-color: #fafafa;
    --anchor-color: #2463bb;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;
    max-width: 80ch;
    margin: auto;
    padding-top: 2em;
    line-height: 1.4;
    color: var(--text-color);
}

header#nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

header#nav > a {
    margin-right: 1em;
}

header#title > h1 {
    text-transform: capitalize;
}

pre {
    padding: 1em;
    background-color: var(--highlight-color) !important;
}

code {
    font-size: 85%;
    background-color: var(--highlight-color) !important;
}

a {
    color: var(--anchor-color);
    border-bottom: 1px solid var(--anchor-color);
    text-decoration: none;
    transition: opacity .15s ease;

    &:hover, &:focus {
        border-bottom: 0;
    }
}

a.anchor {
    visibility: hidden;
    margin-left: -0.8em;
}

h1:hover .anchor, h2:hover .anchor, h3:hover .anchor,
h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
    visibility: visible;
}

blockquote {
    background: var(--highlight-color);
    margin: 1em 0;
    padding: 1em;
}

.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    color: var(--text-color);
    border-bottom: 0;
}

.tab {
    color: var(--text-color);
    border-bottom: 0;

    &.current {
        border-bottom: 1px solid var(--text-color);
    }

    &:hover, &:focus {
        border-bottom: 1px solid var(--text-color);
    }
}

.cc {
    margin: 2em 0;
}

hr {
    margin: 2em 0;
}

nav#pagination {
    margin: 2em 0;
}

footer {
    margin-top: 2em;
}

#gallery {
    display: flex;
    flex-wrap: wrap;

    img {
        width: 33.33%
    }
}

/* mobile version */
@media only screen and (max-width: 768px) {
    html {
        font-size: initial;
    }
    #gallery img {
        width: 100%;
    }
}

/* touch screen version */
@media (hover: none) {
    a.anchor {
        visibility: unset;
        margin-left: 0;
    }
}

/* printable version */
@media print {
    html {
        background: initial;
        margin: initial;
        max-width: initial;
        line-height: initial;
        font-size: initial;
    }
    header#nav {
        display: none;
    }
}
