html {
    font-size: 18px;
    scroll-behavior: smooth;
    max-width: 80ch;
    margin: auto;
    padding-top: 2em;
    line-height: 1.4;
    color: rgba(0,0,0,.8);
}

header#nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

header#nav > a {
    margin-right: 1em;
}

header#title > h1 {
    text-transform: capitalize;
}

pre {
    padding: 1em;
    overflow: auto;
    background-color: #FAFAFA !important;
}

code {
    font-size: 85%;
}

a {
    transition:color .15s ease-in;
    color: rgba(0,0,0,.8);

    &:hover, &:focus {
        opacity: .5;
        transition:opacity .15s ease-in;
    }
}

a.anchor {
    visibility: hidden;
    margin-left: -22px;
}

h1:hover .anchor, h2:hover .anchor, h3:hover .anchor,
h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
    visibility: visible;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

blockquote {
    background: #fafafa;
    margin: 1em 0;
    padding: 1em;
}

.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
}

.tab {
    &.current {
        font-weight: bold;
        text-decoration:underline;
    }
}

.cc {
    margin: 2em 0;
}

hr {
    margin: 2em 0;
}

nav#pagination {
    margin: 2em 0;
}

footer {
    margin-top: 2em;
}

#gallery {
    display: flex;
    flex-wrap: wrap;

    img {
        width: 33.33%
    }
}

/* mobile version */
@media only screen and (max-width: 768px) {
    html {
        font-size: initial;
    }
    #gallery img {
        width: 100%;
    }
}

/* touch screen version */
@media (hover: none) {
    a.anchor {
        visibility: unset;
        margin-left: 0;
    }
}

/* printable version */
@media print {
    html {
        background: initial;
        margin: initial;
        max-width: initial;
        line-height: initial;
        font-size: initial;
    }
    header#nav {
        display: none;
    }
}
