{% extends "base.html" %}

{% block body %}
<div class="black-80 mt3 pt3 measure mh3 mh5-m mh7-l w-100 mv4">
  <div class="b v-top mb3 mt4">Sites</div>
  <ul class="list pl0 mv0">
    <li class="">
      <a href="https://clojurewalk.com">Clojure/Walk</a>
    </li>
    <li class="">
      <a href="https://thirdstream.life">Third Stream Podcast</a>
    </li>
    <li class="">
      <a href="https://codez.xyz">Codez</a>
    </li>
    <li class="">
      <a href="https://bexio.io">Bexio</a>
    </li>
  </ul>
  <div class="b v-top mb3 mt4">Contact</div>
  <p class="mv0">
    <a href="mailto:me@dawranliou.com">me@dawranliou.com</a>
  </p>
  <div class="b v-top mb3 mt4">Resume</div>
  <p class="mv0">
    <a href="https://drive.google.com/file/d/1tB7pVR5oI5OB0_KHdk9LJreQuFU_BGu0/view">resume</a>
  </p>
</div>
{% endblock body %}
