{% extends "base.html" %}

{% block content %}
	<div class="posts">
		{% for article in articles_page.object_list %}
			<div class="post">
				<h1 class="post-title" href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">
					<a href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">{{ article.title }}</a>
				</h1>
				<span class="post-date">{{ article.locale_date }}</span>
				<p>
					{{ article.summary }}
				</p>
				<a class="read-more" href="{{ article.url }}">Continue reading »</a>
			</div>
		{% endfor %}
	</div>
	<div class="pagination">
	        {% if articles_page.has_next() %}
	                <a class="btn float-left" href="{{ SITEURL }}/{{ articles_next_page.url }}">
	                        <i class="fa fa-angle-left"></i> {{ _('Older Posts') }}
	        	</a>
	  	{% endif %}
	  	{% if articles_page.has_previous() %}
	    		<a class="btn float-right" href="{{ SITEURL }}/{{ articles_previous_page.url }}">
	      			{{ _('Newer Posts') }} <i class="fa fa-angle-right"></i>
	    		</a>
	  	{% endif %}
	</div>
{% endblock %}

