html {
    font-size: 18px;
}

article > p {
    line-height: 1.4;
}

.consolas {
    font-family: Consolas, monaco, monospace;
}

code {
    overflow-y:hidden;
}

a {
    text-decoration:none;
    transition:color .15s ease-in;
    color: #333333;
}
