<!doctype html>
<html>
  <head>
    <title>404 | Daw-Ran Liou</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ get_url(path="tachyons.min.css" )}}">
  </head>
  <body>
    <div class="ph3 ph5-m ph7-l vh-100 w-100 dt content-center">
      <div class="dtc v-mid">
        <h1 class="f3 f1-ns serif mv0 courier normal">404</h1>
        <p class="f6 f5 serif mt0 courier fw1">Sorry, we can't find the page you are looking for.</p>
        <p class="f6 f5 serif mt0 courier">
          <a class="black-80 underscore" href="{{ config.base_url }}">Click here to go back to the homepage</a>
        </p>
      </div>
    </div>
  </body>
</html>
