<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:image" content="{{ get_url(path="dawranliou-profile.png") }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image:alt" content="snapshot" />
    {% if page %}
    <meta name="description" content="{{ page.description | default(value=page.title) }}" />
    <meta property="og:url" content="{{ page.permalink }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    {% elif section %}
    <meta name="description" content="{{ section.description }}" />
    <meta property="og:url" content="{{ section.permalink }}" />
    <meta property="og:description" content="{{ section.description }}" />
    <meta property="og:title" content="{{ section.title }}" />
    <meta name="twitter:title" content="{{ section.title }}" />
    <meta name="twitter:description" content="{{ section.description }}" />
    {% else %}
    <meta name="description" content="Daw-Ran Liou's website" />
    <meta property="og:description" content="Daw-Ran Liou's website" />
    <meta name="twitter:description" content="Daw-Ran Liou's website" />
    {% endif %}
    <meta name="twitter:image" content="{{ get_url(path="dawranliou-profile.png") }}" />
    <meta name="twitter:site" content="@dawranliou" />
    <meta name="twitter:creator" content="@dawranliou" />
    <title>{% block htmltitle %}{{ config.title }}{% endblock htmltitle %}</title>
    <link rel="icon" href="{{ get_url(path="favicon.png") }}" />
    <link rel="apple-touch-icon" href="{{ get_url(path="favicon.png") }}"/>
    <link rel="stylesheet" href="{{ get_url(path="remedy.css" )}}" />
    <link rel="stylesheet" href="{{ get_url(path="styles.css" )}}" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=config.feed_filename) }}" />
  </head>
  <body>
    <header id="nav">
      <a class="tab {% if current_path == "/" %}current{% endif %}" href="{{ config.base_url }}" title="Home">Home</a>
      <a class="tab {% if current_path is starting_with("/blog") %}current{% endif %}" href="{{ get_url(path="blog") }}" title="Blog">Blog</a>
      <a class="tab {% if current_path is starting_with("/projects") %}current{% endif %}" href="{{ get_url(path="projects") }}" title="Projects">Projects</a>
      <a class="tab {% if current_path is starting_with("/gallery") %}current{% endif %}" href="{{ get_url(path="gallery") }}" title="Gallery">Gallery</a>
      <a class="tab {% if current_path is starting_with("/contact") %}current{% endif %}" href="{{ get_url(path="contact") }}" title="Contact">Contact</a>
    </header>
    {% block body %}
    {% endblock body %}
    <hr>
    <footer>
      <p>
        © 2016 - 2021 Daw-Ran Liou
      </p>
    </footer>
  </body>
</html>
