{% extends "base.html" %}

{% block htmltitle %}
{{ section.title }} | Daw-Ran Liou
{% endblock htmltitle %}

{% block body %}
{% for year, pages in section.pages | group_by(attribute="year") %}
<h2>{{ year }}</h2>
<ul>
  {% for page in pages %}
  <li>
    <a href="{{ page.permalink }}">{{ page.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}

<h2>Tags</h2>
<ul>
  <li><a href="{{get_url(path='tags/clojure')}}">#clojure</a></li>
  <li><a href="{{get_url(path='tags/emacs')}}">#emacs</a></li>
  <li><a href="{{get_url(path='tags/')}}">more...</a></li>
</ul>
{% endblock body %}
