<div class="bg-black-90 light-gray min-vh-100">
<%= partial "nav"%>
<div class="ph3 ph5-m ph7-l w-100 pb5">
    <div class="dt-l dt--fixed pv5-ns">
        <div class="dtc-l sans-serif f3 b v-top mb3">Bio</div>
        <div class="dtc-l v-top">
            <p class="mv0">
                Hi there, I'm a programmer currently based in the San Francisco Bay Area.
                Besides my passion about programming, I also love playing tennis, lifting,
                brewing/roasting coffee, surfing, cooking, and reading Sci-Fi and Fantasy novels.
                (Lately I've been a bit into home fermention. We'll see how it goes.)
            </p>
            <p>
                Clojure is currently my favorite programming language, surpassing Python.
                That's why you see a lot more Clojure blog posts these days. I enjoy a lot to share
                my passions with others.
            </p>
            <p>
                Feel free to reach out to me on Twitter <a href="https://twitter.com/dawranliou">@dawranliou</a>.
            </p>
        </div>
    </div>
    <div class="dt-l dt--fixed pb5-ns">
        <div class="dtc-l sans-serif f3 b v-top mb3 mt4">Contact</div>
        <div class="dtc-l">
            <p class="mv0">
                <a href="dawran6@gmail.com">dawran6@gmail.com</a>
            </p>
        </div>
    </div>
    <div class="dt-l dt--fixed pb5-ns">
        <div class="dtc-l sans-serif f3 b v-top mb3 mt4">Resume</div>
        <div class="dtc-l">
            <p class="mv0">
                <a href="https://drive.google.com/file/d/1rFKLCu76B-CRDXkcgKIwH22UI2nSyfwA/view?usp=sharing">resume</a>
            </p>
        </div>
    </div>
</div>
</div>
