<div class="bg-black-90 light-gray min-vh-100">
<%= partial "nav"%>
<div class="ph3 ph5-m ph7-l w-100 pb5">
    <div class="dt-l dt--fixed pv5-ns">
        <div class="dtc-l sans-serif f3 b v-top mb3">Bio</div>
        <div class="dtc-l v-top">
            <p class="mv0">
                Hi, Daw-Ran here! I'm an experienced software developer
                with a demonstrated history of learning and applying new technologies to solve problems.
                Currently based in the San Francisco Bay Area,
                I'm passionate about Clojure and Python and Full-Stack web development.
            </p>
            <p>
                Feel free to check out my latest
                <a href="https://docs.google.com/document/d/1UMkwuUxShZm0jMRuVDUxnpyG6R0cdX2vukzGWaZSDcY/edit?usp=sharing">resume</a>.
            </p>
        </div>
    </div>
    <div class="dt-l dt--fixed pb5-ns">
        <div class="dtc-l sans-serif f3 b v-top mb3 mt4">Contact</div>
        <div class="dtc-l">
            <p class="mv0">
                <a href="dawran6@gmail.com">dawran6@gmail.com</a>
            </p>
        </div>
    </div>
</div>
</div>
