html {
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inconsolata', monospace;
}

article > p {
    line-height: 1.4;
}

.consolas {
}

pre {
    padding: 2rem 1rem;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
    overflow-y:hidden;
    padding: .1em .2em;
    font-size: 85%;
    color: #96ccff;
    border-radius: 3px;
}

a {
    text-decoration:none;
    transition:color .15s ease-in;
    color: #357edd;
}

